{% extends "base.html" %}

{% block content %}
<style>
body {
	background-image: url("/static/download.jpg");
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-color: #122949;
	color:white;
}
h1 {
	text-align: center;
	position: relative;
	font-style: italic;
	top:260px;
}
p {
	font-size: 25px;
	font-style: italic;
	text-align: center;
	position: relative;
	top:260px;
	color: #3972c4;
}
</style>
<script>
setTimeout(function() {
	window.location.reload();
}, 500);
</script>
	<html>
	<head>
		<title>Downloading</title>
	</head>
	<body>
		<h1>Thank you for downloading Timeline.</h1>
		<p> Enjoy your calendar.</p>
	</body>
	</html>
{% endblock %}